<app-clinic-detail></app-clinic-detail>

<div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
  <div class="RequestForm">
    <h2>Edit Clinic</h2>
    <div class="Forms">
      <form>
        <div class="form-group">
          <input class="form-control" placeholder="Clinic Name" type="text" name="clinic" [(ngModel)]="clinicToDisplay.name">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Clinic Address" type="text" name="address" [(ngModel)]="clinicToDisplay.address">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Clinic Phone Number" type="text" name="phonenumber"[(ngModel)]="clinicToDisplay.phonenumber">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Rating" type="text" name="rate" [(ngModel)]="clinicToDisplay.rate">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Website" type="text" name="website" [(ngModel)]="clinicToDisplay.website">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Clinic Hours" rows="5" name="hours" [(ngModel)]="clinicToDisplay.hours"></textarea>
        </div>
        <div class="image-upload">
          <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>
          <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
        </div> 
        <button (click)="beginToEdit(clinicToDisplay)">EDIT CLINIC</button>
      </form>
    </div>
  </div>
</div>