<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <strong><h2 class="text-center">We are here to help you!</h2></strong>

      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz3htS9jowwrJc7qeZr-i6XirzONBOBBLQfx6X29jS-FCxH6gi" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">

              <h4 class="subheading">Review all women's clinics in Seattle!</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
              There are more than 10 women's clinics in Seattle area. You can find all information on our website.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKE-euI6pHx1sVo0EH-ziy5EmFg5W9Bx9Wrk09IAFblnuo0vq3Vg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">

              <h4 class="subheading">Read articles!</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                We have a bunch of usefull articles to keep you inform about...
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv3HHGUQ1XW_UI1sIjPE-V9UXSXZ1h_Fp4pY1On76FYO3p7RRL" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">

              <h4 class="subheading">Be active on forum!</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
              On our forum you can discuss your experiences with different clinics, tips on health and women's options.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtOvqyPiT1txUObqk97js8bxa4YIoxj0rm6ql1nK94ojKvkGIDEQ" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">

              <h4 class="subheading">Save your favorite clinics.</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                As you look trough the clinics you can save the ones of your preference.
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy4yI2CyLZ7wI1YDUbqawPNGhnAVBQA7YSgGrxvQP7CPgsJtUw" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">

              <h2 class="subheading">Stay Healthy!</h2>
              <h2 class="subheading">Be Kind!</h2>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
