


<div class="container">

  <button id="buttonclickShowClinics"ng-click= "showme=true" type="button" class="btn btn-primary btn-lg btn-block">Show clinics</button> <br>

    <button id="buttonclickShowRef"ng-click= "showme=false" type="button" class="btn btn-primary btn-lg btn-block">Show References</button> <br>
<div class="bookmarkedClinics">



  <div *ngFor="let clinic of clinics | async" class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.schn.health.nsw.gov.au/files/styles/header/public/images/headers/childrenscourtclinicparrweb.jpg?itok=-xl_OW9s" alt="">
      </a>
    </div>
    <div class="col-md-5">
  <strong>  <h5>{{clinic.name}}</h5> </strong>
      <i class="fa fa-home"></i>{{clinic.address}}<br>
        <i class="fa fa-star"></i>{{clinic.rate}}<br>
        <i class="fa fa-phone"></i>  {{clinic.phonenumber}}<br>
        <i class="fa fa-globe"></i>  website <br>

    <button class="favorite"(click)="beginDeletingClinic(clinic)">Remove</button>
    </div>
</div>
  </div>

  <div class="bookmarkedRef">

  <div *ngFor="let reference of references | async" class="row">
  {{reference.title}}


</div>
  </div>



<br>
