<section class="section-container">


<select [(ngModel)]="sortValue" class="dropdown">
  <option value="Low-High">Low-High</option>
  <option value="High-Low">High-Low</option>
</select>

 <div class="container">
<div  *ngFor="let clinic of clinics | async | SortByRatePipe:sortValue" class="row">
        <div class="col-md-7">
          <a href="#">
            <img width="700" height="300"class="img-fluid rounded mb-3 mb-md-0" src="{{clinic.imageSrc}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <strong><h4 (click)="goToDetailPage(clinic)">{{clinic.name}}</h4></strong>
<li><i class="fa fa-home"></i>{{clinic.address}}</li>

    <li>  <i class="fa fa-phone"></i> {{clinic.phonenumber}}<li>

<li>  <i class="fa fa-star"></i>{{clinic.rate}}</li>


<li><i class="fa fa-globe"></i><a href="{{clinic.website}}">website</a></li>

<br>

          <button class="favorite" (click)="addToBookmark(clinic)">Bookmark</button>
        </div>

      </div>

    </div>

</section>
