<section class="section-container">


<select [(ngModel)]="sortValue" class="dropdown">
  <option value="Low-High">Low-High</option>
  <option value="High-Low">High-Low</option>
</select>

<div class="container">
  <div  *ngFor="let clinic of clinics | async | SortByRatePipe:sortValue" class="row">
        <div class="col-md-7">
          <a href="#">
            <img width="700" height="300"class="img-fluid rounded mb-3 mb-md-0" src="{{clinic.imageSrc}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <strong><h4 (click)="goToDetailPage(clinic)">{{clinic.name}}</h4></strong>
<li><i class="fa fa-home"></i>{{clinic.address}}</li>

    <li>  <i class="fa fa-phone"></i> {{clinic.phonenumber}}<li>

<li>  <i class="fa fa-star"></i>{{clinic.rate}}</li>

<li><i class="fa fa-globe"></i><a href="{{clinic.website}}">website</a></li>
<br>

          <button class="favorite" (click)="addToBookmark(clinic)">Bookmark</button>
          <button *ngIf="adminUser" class="favorite" (click)="goToEdit(clinic)">Edit</button>
        </div>

  </div>

</div>



  <!-- <section class="card">
    <section class="flex-event">
      <section class="sectionimage">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfNm3NS9VlgwCsrsh6o2TLJ8802JkszGwYz1kPyeAcGqKlgNHu" />
      </section>
      <section class="date">
        <p class="name">{{clinic.name}}</p>
      </section>
      <p class="address">{{clinic.address}}</p>
      <p class="phone_number">{{clinic.phone_number}}</p>
      <p class="rate">Rate:{{clinic.rate}}</p>

      <button class="favorite">Bookmark</button>
    </section>
  </section> -->
</section>
